html, body {
    font-family: "Lato", sans-serif;
}

#graph-container {
    background: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.hamburger {
    position: absolute;
    padding: 0px;
    top: 10px;
    left: 25px;
    z-index: 1;
}

.comp {
    position: absolute;
    padding: 0px;
    top: 10px;
    right: 25px;
    z-index: 1;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
}

.sidenav a, #pathTracker a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1rem;
    color: #bbb;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, #pathTracker a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

#pathTracker .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    #pathTracker {
        padding-top: 15px;
    }
    #pathTracker a {
        font-size: 18px;
    }
}

#mySidenav, #pathTracker {
    color: #bbb;
}

#pathTracker {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
}

.slider.slider-horizontal {
    width: 170px !important;
    /* sample value - set it as you like*/
    cursor: pointer;
}

.slider-track {
    height: 5px !important;
}

.tooltip, .tooltip-main top {
    display: none !important;
}

.slider-handle, .min-slider-handle round {
    width: 15px !important;
    height: 15px !important;
}

.sliderRow {
    margin-bottom: 10px;
    padding-left: 25px;
}

.sliderVal {
    padding-left: 5px;
}

hr {
    background: #bbb;
    width: 80%;
}

input[type="checkbox"] {
    cursor: pointer;
}

.smallLabel {
    font-size: 80%;
    cursor: pointer;
}

/*toggle*/

.tgl {
    display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl+.tgl-btn {
    box-sizing: border-box;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl+.tgl-btn::selection {
    background: none;
}

.tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl+.tgl-btn:after, .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl-ios+.tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #2b2b2b;
}

.tgl-ios+.tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 4px 0 rgba(0, 0, 0, .2);
}

.tgl-ios+.tgl-btn:hover:after {
    will-change: padding;
}

.tgl-ios+.tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
}

.tgl-ios+.tgl-btn:active:after {
    padding-right: 0.8em;
}

.tgl-ios:checked+.tgl-btn {
    background: #337ab7;
}

.tgl-ios:checked+.tgl-btn:active {
    box-shadow: none;
}

.tgl-ios:checked+.tgl-btn:active:after {
    margin-left: -0.8em;
}

/*toggle end*/

.dropdown-item {
    color: #111 !important;
}

.dropdown-item:hover {
    background-color: #efefef;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.active {
    border-color: #efefef !important;
}

button {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

.tooltip {
    position: fixed;
}

.errorColor {
    color: #ed4040;
}

.marginTop{
    margin-top:12px;
}